@import "vars";

header {
    h1 {
        display: inline-block;
    }
    .dropdowns {
        float: right;
        text-align: center;
        select {
            width: 150px;
        }
        .chosen-container {
            margin: 10px;
        }
    }
}

.content {
    .year {
        text-align: center;
        a {
            text-decoration: none;
            &.decrement {
                margin-right: 20px;
                &:before {
                    content: "\25C5";
                }
            }
            &.increment {
                margin-left: 20px;
                &:before {
                    content: "\25BB";
                }
            }
            &.disabled {
                color: $gray;
                cursor: default;
                &:hover {
                    color: $gray;
                }
            }
            &:hover {
                color: lighten($blue, 20);
            }
        }
        span {
            font-size: 24px;
        }
    }
    p.no-stats {
        text-align: center;
        margin: 20px 0;
        color: $pink;
    }
    .graph {
        text-align: center;
        .school-group {
            position: relative;
            display:inline-block;
            margin: 30px;
            margin-top: 0;
            vertical-align: middle;
            &.circle-of-suck svg.school {
                position: absolute;
            }
        }
        svg.school {
            width: 100px;
            height: 100px;
            image {
                width: 50px;
                height: 50px;
            }
            circle {
                stroke: $blue;
                stroke-width:5px;
                fill: transparent;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    fill: rgba(255,255,255,0.3);
                    stroke: lighten($blue, 5);
                    r: 41px;
                }
            }
        }
        path {
            fill: none;
            stroke: $pink;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
        .arrow {
            cursor: pointer;
            path.arrow-body {
                stroke-width: 5px;
            }
            line {
                stroke-width: 30px;
                stroke: rgba(255,255,255,0);
            }
        }
    }
    .box{
        position: absolute;
        display: none;
        background-color: $light-blue;
        color: $black;
        text-align: center;
        padding: 10px;
        &.school-box {
            max-width: 200px;
            span.record {
                white-space: nowrap;
            }
        }
        &.game-box {
            width: 150px;
            .date {
                margin-bottom: 10px;
            }
            p.score-box {
                display: inline-block;
                width: 80px;
                span {
                    display: inline-block;
                    width: 30px;
                    vertical-align: middle;
                    &.logo img {
                        max-height: 30px;
                        max-width: 30px;
                        vertical-align: middle;
                    }
                    &.score {
                        width: 50px;
                    }
                }
                &.winner {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .graph-type{
        &:hover{ 
            background-color: lighten($pink, 5);
        }
        background-color: $pink;
        color: $white;
        border: none;
        font-size: 24px;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}