@import "vars";
h1 {
    display: inline;
}
header select {
    width: 150px;
    padding: 7px 20px 5px;
    right: 20px;
    top: 20px; 
}
.content {
    .box{
        display: none;
        background-color: $light-blue;
        text-color: $black;
        text-align: center;
        padding: 5px;
        .school{
            max-width: 200px;
        }
        .game{
            width: 200px;
        }
    }
    .graph-type{
        &:hover{ 
            background-color: lighten($pink, 5);
        }
        background-color: $pink;
        color: $white;
        border: none;
        font-size: 24px;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .school {
        circle {
            fill: $white;
            stroke: $blue;
            stroke-width:5px;
        }
        image{
            width: 50px;
            height: 50px;
        }
    }
}