@import "vars";

.content {
    padding-top: 125px;
    .dropdown{
        text-align: center;
        margin-bottom: 100px;
    }
    select {
        align: center;
        background-color: $blue;
        color:$white;
        border: none;
        font-size: 48px;
        height: 66px;
        padding: 5px; 
        width: 300px;
    } 
}