{% extends "base.html" %}
{% load partials %}
{% block head %}
    {% add_style 'conference.css' %}
    <script>
        window.allGames = {{ all_games|safe }};
        window.allSchools = {{ all_schools|safe }};
    </script>
{% endblock %}

{% block header %}
    <select class='sport'> 
        <option value="%">Sport</option>
    </select>
    <select class='conference'> 
        <option value="%">Conference</option>
    </select>   
{% endblock %}
{% block content %}
    <div class='graph'>
        {% for circle_of_suck in circles_of_suck %}
            <div class="circle-of-suck">
                {% for school in circle_of_suck %}
                    {% make_school school %}
                {% endfor %}
            </div>
        {% endfor %}
        {% for school in extra_schools %}
            {% make_school school %}
        {% endfor %}
    </div>
    <div class='school-box box'>
        <span class="school-name"></span>
        <span class="record"></span>
    </div>
    <div class='game-box box'>
        <p class="date"></p>
        <p class='winner'> 
            <img src="" class='logo'>
            <span class='winner-score'></span>
        </p> 
        <p class='loser'>
            <img src="" class='logo'>
            <span class='loser-score'></span>
        </p>

    </div>
    <button type='button' class='graph-type'>Full Graph</button>
{% endblock %}
