{% extends "base.html" %}
{% load partials %}

{% block head %}
    {% add_style 'home.css' %}
    {% add_script 'home.js' %}
{% endblock %}

{% block content %}
	<div class='dropdown'> 
		<select class='sport'>
			<option></option>
            {% for sport in sports %}
			     <option value="{{sport}}">{{sport}}</option>
            {% endfor %}
		</select>
	</div>
	<div class='dropdown'>
		<select class='conference'> 
			<option></option>
			{% for conference in conferences %}
                 <option value="{{conference}}">{{conference}}</option>
            {% endfor %}
		</select>
	</div>
{% endblock %}
